/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */

:root {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-secondary: 'Arvo', serif;
  --font-code: 'Roboto', monospace;
  --bg-color: #00163f;
  --font-color: #ffffff;
  --btn-bg-color: #ffffff;
  --accent-color: #330066;
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  max-width: 100vw;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
}

/* HEADER */

header {
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

#mintNav{
  height: 72px;
}

#navLogoDesktop{
  padding: 16px;
  display: block;
}

#navLogoMobile{
  display: none;
  padding: 0 16px;
  max-width: 150px;
}

#connectButton{
  font-weight: 700;
  margin: 0 16px;
}

#mint-card{
  z-index: 1;
}

#mint-header-img img{
  width: 80vw;
  padding-top: -300px;
}

/* BUTTONS */
.btn:hover {
  box-shadow: none;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 2rem;
  border-color: transparent;
  all: inherit;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

/* Phrase Styles */

#status {
  font-size: 1 rem;
  white-space: pre-line;
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}





/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .wallet-btn {
    margin-left: 0;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}
 
/* Media Styles */

@media (min-width: 350px){
  header.masthead{
    background: linear-gradient(#330066, #00163f);
  }

}


@media(max-width: 480px){
  header.masthead{
    background-size: 25rem;
    padding-top: 7rem;
  }
  #mint-header-img{
    margin-top: -35%;
  }
  #mint-header-img img{
    width: 350vw;
  }
  #navLogoMobile{
    display: block;
  }
  #navLogoDesktop{
    display:none;
  }
}


@media( min-width: 768px){
  .navbar{
    justify-content: space-between;
  }
    header.masthead{
      background-size: 25rem;
      background: linear-gradient(#330066, #00163f);
      padding-top: 7rem;
    }
    #mint-header-img{
      margin-top: -125%;
    }
    #mint-header-img img{
      width: 100vw;
    }
    #mainNav .navbar-brand img{
      padding: 16px;
    }
    }
  